@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

body {
  font-family: 'Gentium Book Basic',serif;
  color: rgba(0,0,0,.87);
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato',sans-serif;
}

h2,
h3 {
  font-weight: 400;
}

.navbar .site-name {
  font-family: 'Lato',sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links,
.sidebar-links {
  font-family: 'Lato',sans-serif;
}

.tip,
.warning
.danger {
  font-family: 'Lato',sans-serif;
}

@media only screen and (max-width: 419px) {
  .navbar .site-name {
    font-size: 0.9rem;
  }
}